<div style="height: 90vh; flex-flow: column;" class="d-flex justify-content-center w-100 align-items-center">
  <div class="register-card text-center">
    <img class="logo mb-2" src="assets/logos/Instagram.png" alt="">
    <h5 class="color-1 mb-3" nz-typography>Cadastre-se para ver fotos e vídeos<br>dos seus amigos.</h5>
    <button nz-button nzType="primary" class="w-100 login-face rounded-8 mb-3"><h5 nz-typography><span nz-icon nzType="facebook" nzTheme="fill"></span> Entrar com o Facebook</h5></button>
    <h6 class="color-1 mb-3 d-flex align-items-center justify-content-center gap-3" nz-typography><div class="line-left"></div>OU<div class="line-right"></div></h6>
    <form nz-form>
      <nz-form-item>
        <nz-form-control>
          <input class="mb-1" nz-input placeholder="Número do celular ou email" nzSize="large" />
          <input class="mb-1" nz-input placeholder="Nome completo" nzSize="large" />
          <input class="mb-1" nz-input placeholder="Nome de usuário" nzSize="large" />
          <input class="mb-1" nz-input placeholder="Senha" nzSize="large" />
        </nz-form-control>
      </nz-form-item>
    </form>
    <p style="font-size: 12px;" class="color-1">
      As pessoas que usam nosso serviço podem ter<br>enviado suas informações de contato para o<br>Instagram. Saiba mais<br>
      <br>Ao se cadastrar, você concorda com nossos<br>Termos, Política de Privacidade e Política de<br>Cookies.
    </p>
    <button nz-button nzType="primary" class="w-100 login-face rounded-8 mb-3"><h5 nz-typography>Cadastre-se</h5></button>
  </div>
  <div class="register-card text-center mt-2 py-4">
    <p style="font-size: 14px;" class="m-0">
      Tem uma conta?    
      <span nz-typography>
        <a href="https://ng.ant.design/" target="_blank"><b>Conecte-se</b></a>
      </span>
    </p>
  </div>
  <p style="font-size: 14px;" class="mt-3">
    Obtenha o aplicativo.
  </p>
  <div class="d-flex align-items-center justify-content-center gap-2">
    <img style="height: 40px;" src="assets/app/tUzYKZ-xrQK.png" alt="">
    <img style="height: 40px;" src="assets/app/QQnPXT5YsC4.png" alt="">
  </div>
</div>